{% load admin_static %}{% load url from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" media="all" href="/static/css/bootstrap.css" />

{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<script src="/static/js/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<!-- Container -->
<div class="navbar"><div class="navbar-inner">
<ul class="nav">
      <a class="brand"><img src="/static/img/nuages.png"></a>
      <li class="divider-vertical"></li>
     <li><a href="/nuages/vms/">Create</a></li>
     <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Information<b class="caret"></b></a>
      <ul class="dropdown-menu">
     <li><a href="/nuages/storage/" >Storage</a></li>
     <li><a href="/nuages/profiles/">Profiles</a></li>
     <li><a href="/nuages/customforms">CustomForms</a></li>
     </ul></li>
     <li><a href="/nuages/yourvms/">Your VMS</a></li>
     {% if username.is_staff  %}
     <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
      <ul class="dropdown-menu">
       <li><a href="/nuages/allvms/">All VMS</a></li>
       <li><a href="/nuages/customformedit">CustomForm Edit</a></li>
       <li><a href="/nuages/profilecopy">Profile Copy</a></li>
       <li><a href="/admin">Configuration</a></li>
     </ul></li>
     {% endif %}
       <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a></li>
       <li><a href="/logout/">Logout {{ username.username  }}</a></li>
</ul>
</div></div>

    {% if not is_popup %}
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
