<div id="spice-screen" class="spice-screen"></div>
{% load staticfiles %}{% load url from future %}
<table  colspan="10"  border="1" class='alert alert-info' >
<tr>
<td>Vm Name</td>
<td>Status</td>
<td>Action</td>
</tr>
{% for vm in vms|dictsort:"name" %}
<tr>
<td>
{% if console and vm.status != 'down' %}
<a href="{% url 'console' %}?name={{ vm.name }}&virtualprovider={{vm.virtualprovider}}"><img src="{% static "img/console.png" %}">{{ vm.name}}</a>
{% else %}
{{ vm.name}}
{% endif %}
</td>
<td><img src="{% static "img/{{vm.status}}.png" %}">{{vm.status}}</td>
<td>
    <img src="{% static "static/img/start.png" %}" onclick="start('{{vm.name}}','{{vm.virtualprovider}}');"/>
    <img src="{% static "img/down.png" %}" onclick="stop('{{vm.name}}','{{vm.virtualprovider}}');"/>
</td>
</tr>
{% endfor %}
</table>
