{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Nuages All VMS Information{% endblock %}

{% block content %}
<script src="{% static "js/allvms.js"  %}"></script>
<script src="{% static "js/actions.js" %}"></script>

<div id="actionwheel"></div>
<fieldset class="module aligned">

<p class="alert alert-info" >select provider or just wait to get all its vms (check box if you want a 5s refresh)</p>
<select name="virtualprovider" id="id_virtualprovider">
{% for vprovider in vproviders|dictsort:"name" %}
<option value="{{vprovider.name }}" >{{vprovider.name }}</option>
{% endfor %}
</select>   <input id ="getvms" name="getvms" type="submit" class="btn btn-info" value="Enter" onclick="getvms();"/>   <input id="refresh" type="checkbox"><hr>
<div id="results"></div>

<div id="actionpending" class="hidden">0</div>
<div id="refreshpending" class="hidden">0</div>
<p id="allvms"></p>
</fieldset>

{% endblock content %}               
