<div id="spice-screen" class="spice-screen"></div>
<table border="1" >
<tr>
<td>Vm Name</td>
<td>Status</td>
<td>Action</td>
</tr>
{% for vm in vms|dictsort:"name" %}
<tr>
<td>{{ vm.name}}</td>
<td><img src="/static/img/{{vm.status}}.png">{{vm.status}}</td>
<!--a href="/nuages/console/?vm={{ vm.name }}&virtualprovider={{ vm.virtualprovider }}"><img src="/static/img/start.png"></a!-->
<td>
<img src="/static/img/start.png" onclick="start('{{vm.name}}','{{vm.virtualprovider}}');"/>
<img src="/static/img/down.png" onclick="stop('{{vm.name}}','{{vm.virtualprovider}}');"/>
{% if console and vm.status != 'down' %}
<a href="/nuages/vms/console/?name={{ vm.name }}&virtualprovider={{vm.virtualprovider}}"><img src="/static/img/console.png"></a>
{% endif %}
</td>
</tr>
{% endfor %}
</table>
<div id="results"></div>
