{% extends "base.html" %}

{% block title %}Nuages All VMS Information{% endblock %}

{% block content %}
<script src="/static/js/allvms.js"></script>
<script src="/static/js/actions.js"></script>

<fieldset class="module aligned">

<p class="alert alert-info" >select provider or wait a few seconds to get all its vms...</p>
<select name="virtualprovider" id="id_virtualprovider">
{% for vprovider in vproviders|dictsort:"name" %}
<option value="{{vprovider.name }}" >{{vprovider.name }}</option>
{% endfor %}
</select></p>

<div id="actionpending" class="hidden">0</div>
<div id="refreshpending" class="hidden">0</div>
<div id="results"></div>
<p id="allvms"></p>
</fieldset>
<!--p id="result"></p-->

{% endblock content %}               
