<html>
  <head>
    <title>{% block title %}Nuages{% endblock %}</title>
    	<link rel="stylesheet" type="text/css" media="all" href="/static/css/design.css" />
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    	<link rel="stylesheet" type="text/css" media="all" href="/static/css/bootstrap.css" />
  </head>
  <body>
   <script src="/static/js/jquery.js"></script>
   <script src="/static/js/wheel.js"></script>
   <script src="/static/js/highcharts.js"></script>
   <script src="/static/js/exporting.js"></script>
   <script src="/static/bootstrap/js/bootstrap.min.js"></script>
   {% if spice %}
        <script src="/static/spice/spicearraybuffer.js"></script> 
        <script src="/static/spice/enums.js"></script> 
        <script src="/static/spice/atKeynames.js"></script> 
        <script src="/static/spice/utils.js"></script> 
        <script src="/static/spice/png.js"></script> 
        <script src="/static/spice/lz.js"></script> 
        <script src="/static/spice/quic.js"></script> 
        <script src="/static/spice/bitmap.js"></script> 
        <script src="/static/spice/spicedataview.js"></script> 
        <script src="/static/spice/spicetype.js"></script> 
        <script src="/static/spice/spicemsg.js"></script> 
        <script src="/static/spice/wire.js"></script> 
        <script src="/static/spice/spiceconn.js"></script> 
        <script src="/static/spice/display.js"></script> 
        <script src="/static/spice/main.js"></script> 
        <script src="/static/spice/inputs.js"></script> 
        <script src="/static/spice/simulatecursor.js"></script>
        <script src="/static/spice/cursor.js"></script> 
        <script src="/static/spice/thirdparty/jsbn.js"></script>
        <script src="/static/spice/thirdparty/rsa.js"></script>
        <script src="/static/spice/thirdparty/prng4.js"></script>
        <script src="/static/spice/thirdparty/rng.js"></script>
        <script src="/static/spice/thirdparty/sha1.js"></script>
        <script src="/static/spice/ticket.js"></script>
        <script src="/static/js/spice.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/spice/spice.css" />
    {% endif %}


<div class="navbar"><div class="navbar-inner">
<ul class="nav">
      <a class="brand"><img src="/static/img/nuages.png"></a>
      <li class="divider-vertical"></li>
     <li><a href="/nuages/vms/"><i class="icon-white icon-shopping-cart"></i>Create</a></li>
     <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-white icon-info-sign"></i>Information<b class="caret"></b></a>
      <ul class="dropdown-menu">
     <li><a href="/nuages/storage/" ><i class="icon-white icon-hdd"></i>Storage</a></li>
     <li><a href="/nuages/profiles/"><i class="icon-white icon-tasks"></i>Profiles</a></li>
     <li><a href="/nuages/customforms"><i class="icon-white icon-thumbs-up"></i>CustomForms</a></li>
     </ul></li>
     <li><a href="/nuages/yourvms/"><i class="icon-white icon-list"></i>Your VMS</a></li>
     {% if username.is_staff  %}
     <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-white icon-cog"></i>Admin<b class="caret"></b></a>
      <ul class="dropdown-menu">
       <li><a href="/nuages/allvms/"><i class="icon-white icon-globe"></i>All VMS</a></li>
       <li><a href="/nuages/customformedit"><i class="icon-white icon-leaf"></i>CustomForm Edit</a></li>
       <li><a href="/nuages/profilecopy"><i class="icon-white icon-tag"></i>Profile Copy</a></li>
       <li><a href="/admin"><i class="icon-white icon-wrench"></i>Configuration</a></li>
     </ul></li>
     {% endif %}
     <li><a href="/logout/"><i class="icon-white icon-user"></i>Logout {{ username.username  }}</a></li>
</ul>
</div></div>

{% block content %}
{% endblock content %}
<p>
{% block extracontent %}
{% endblock extracontent %}

<p>
{% block extravms %}
{% endblock extravms %}
<!--<a href="http://www.djangoproject.com/"><img src="/static/img/djangopowered.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a> -->
</body></html>
