{% extends "base.html" %}

{% load staticfiles %}
{% block title %}Nuages VM creation{% endblock %}

{% block content %}
<script src="{% static "js/create.js" %}"></script>
<script src="{% static "js/quickactions.js" %}"></script>

<fieldset class="module aligned">
<p id="allvms" class="alert alert-info" ><button type='button' class='close' data-dismiss='alert'>&times;</button>Enter name and profile of your vm, then information and press CreateSystem...<br>
Use FindSystem to locate an existing vm and finish its creation<br>
Use QuickAccess to quickly access previously created  vms
</p>
<div id="wheel"></div>
<p id="result"></p>
<p id="quickresults"></p>
<div id="create" class="hidden">1</div>
<input type="submit" value="CreateSystem" class="btn btn-info" onclick="createvm();"/>   <input type="submit" value="FindSystem" class="btn btn-success" onclick="findvm();"/>   <input type="submit" value="QuickAccess" class="btn btn-danger" onclick="quickvms();"/><p><p>
<label id="id_storagedomainlabel">Storages</label><select id="id_storagedomain"></select><p><p>
<label >NumVms</label><select id="numvms">
  <option value="1" selected="selected">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select> 
{{ vmform.as_p }}
{{ credentials.info }}
</fieldset><p>

{% if customforms %}
<fieldset class="module aligned">
<label for="id_type">Type:</label> <select name="type" id="id_type" multiple>
<option value="" selected="selected">---------</option>
{% for customform in customforms|dictsort:"name" %}
<option value="{{ customform.name }}">{{ customform.name }}</option>
{% endfor %}
</select> 
</fieldset><p>
{% endif %}
{% endblock content %}


{% block extracontent %}
<fieldset id="extracontent" class="module aligned">
{% for customform in customforms|dictsort:"name" %}
<div id="{{ customform.name }}">{{ customform.name }} Parameters:<p>{{ customform.form.as_p }}<hr></div>
{% endfor %}
<div id="custom"></div>
</fieldset><p>
{% endblock extracontent %}

{% block extravms %}
<fieldset id="id_extravmsfieldset" class="module aligned">
<p><p>
<label style="display: none;" id="id_namelabel_2">Name_2:</label> <input style="display: none;" id="id_name_2" name="name_2" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel1_2">Ip1_2:</label> <input style="display: none;" id="id_ip1_2" name="ip1_2" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel1_2">Mac1_2:</label> <input style="display: none;" id="id_mac1_2" name="mac1_2" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel2_2">Ip2_2:</label> <input style="display: none;" id="id_ip2_2" name="ip2_2" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel2_2">Mac2_2:</label> <input style="display: none;" id="id_mac2_2" name="mac2_2" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel3_2">Ip3_2:</label> <input style="display: none;" id="id_ip3_2" name="ip3_2" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel3_2">Mac3_2:</label> <input style="display: none;" id="id_mac3_2" name="mac3_2" maxlength="20" type="text"></p>


<p><p>
<label style="display: none;" id="id_namelabel_3">Name_3:</label> <input style="display: none;" id="id_name_3" name="name_3" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel1_3">Ip1_3:</label> <input style="display: none;" id="id_ip1_3" name="ip1_2" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel1_3">Mac1_3:</label> <input style="display: none;" id="id_mac1_3" name="mac1_3" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel2_3">Ip2_3:</label> <input style="display: none;" id="id_ip2_3" name="ip2_3" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel2_3">Mac2_3:</label> <input style="display: none;" id="id_mac2_3" name="mac2_3" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel3_3">Ip3_3:</label> <input style="display: none;" id="id_ip3_3" name="ip3_3" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel3_3">Mac3_3:</label> <input style="display: none;" id="id_mac3_3" name="mac3_3" maxlength="20" type="text"></p>

<p><p>
<label style="display: none;" id="id_namelabel_4">Name_4:</label> <input style="display: none;" id="id_name_4" name="name_4" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel1_4">Ip1_4:</label> <input style="display: none;" id="id_ip1_4" name="ip1_4" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel1_4">Mac1_4:</label> <input style="display: none;" id="id_mac1_4" name="mac1_4" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel2_4">Ip2_4:</label> <input style="display: none;" id="id_ip2_4" name="ip2_4" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel2_4">Mac2_4:</label> <input style="display: none;" id="id_mac2_4" name="mac2_4" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel3_4">Ip3_4:</label> <input style="display: none;" id="id_ip3_4" name="ip3_4" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel3_3">Mac3_3:</label> <input style="display: none;" id="id_mac3_3" name="mac3_4" maxlength="20" type="text"></p>


<p><p>
<label style="display: none;" id="id_namelabel_5">Name_5:</label> <input style="display: none;" id="id_name_5" name="name_5" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel1_5">Ip1_5:</label> <input style="display: none;" id="id_ip1_5" name="ip1_5" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel1_5">Mac1_5:</label> <input style="display: none;" id="id_mac1_5" name="mac1_5" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel2_5">Ip2_5:</label> <input style="display: none;" id="id_ip2_5" name="ip2_5" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel2_5">Mac2_5:</label> <input style="display: none;" id="id_mac2_5" name="mac2_5" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel3_5">Ip3_5:</label> <input style="display: none;" id="id_ip3_5" name="ip3_5" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel3_5">Mac3_5:</label> <input style="display: none;" id="id_mac3_5" name="mac3_5" maxlength="20" type="text"></p>


<p><p>
<label style="display: none;" id="id_namelabel_6">Name_6:</label> <input style="display: none;" id="id_name_6" name="name_6" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel1_6">Ip1_6:</label> <input style="display: none;" id="id_ip1_6" name="ip1_6" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel1_6">Mac1_6:</label> <input style="display: none;" id="id_mac1_6" name="mac1_6" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel2_6">Ip2_6:</label> <input style="display: none;" id="id_ip2_6" name="ip2_6" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel2_6">Mac2_6:</label> <input style="display: none;" id="id_mac2_6" name="mac2_6" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel3_6">Ip3_6:</label> <input style="display: none;" id="id_ip3_6" name="ip3_6" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel3_6">Mac3_6:</label> <input style="display: none;" id="id_mac3_6" name="mac3_6" maxlength="20" type="text"></p>

<p><p>
<label style="display: none;" id="id_namelabel_7">Name_7:</label> <input style="display: none;" id="id_name_7" name="name_7" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel1_7">Ip1_7:</label> <input style="display: none;" id="id_ip1_7" name="ip1_7" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel1_7">Mac1_7:</label> <input style="display: none;" id="id_mac1_7" name="mac1_7" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel2_7">Ip2_7:</label> <input style="display: none;" id="id_ip2_7" name="ip2_7" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel2_6">Mac2_7:</label> <input style="display: none;" id="id_mac2_7" name="mac2_7" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel3_7">Ip3_7:</label> <input style="display: none;" id="id_ip3_7" name="ip3_7" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel3_7">Mac3_7:</label> <input style="display: none;" id="id_mac3_7" name="mac3_7" maxlength="20" type="text"></p>

<p><p>
<label style="display: none;" id="id_namelabel_8">Name_8:</label> <input style="display: none;" id="id_name_8" name="name_8" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel1_8">Ip1_8:</label> <input style="display: none;" id="id_ip1_8" name="ip1_8" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel1_8">Mac1_8:</label> <input style="display: none;" id="id_mac1_8" name="mac1_8" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel2_8">Ip2_8:</label> <input style="display: none;" id="id_ip2_8" name="ip2_8" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel2_8">Mac2_8:</label> <input style="display: none;" id="id_mac2_8" name="mac2_9" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel3_8">Ip3_8:</label> <input style="display: none;" id="id_ip3_8" name="ip3_8" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel3_8">Mac3_8:</label> <input style="display: none;" id="id_mac3_8" name="mac3_8" maxlength="20" type="text"></p>

<p><p>
<label style="display: none;" id="id_namelabel_9">Name_9:</label> <input style="display: none;" id="id_name_9" name="name_9" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel1_9">Ip1_9:</label> <input style="display: none;" id="id_ip1_9" name="ip1_9" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel1_9">Mac1_9:</label> <input style="display: none;" id="id_mac1_9" name="mac1_9" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel2_9">Ip2_9:</label> <input style="display: none;" id="id_ip2_9" name="ip2_9" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel2_9">Mac2_9:</label> <input style="display: none;" id="id_mac2_9" name="mac2_9" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel3_9">Ip3_9:</label> <input style="display: none;" id="id_ip3_9" name="ip3_9" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel3_9">Mac3_9:</label> <input style="display: none;" id="id_mac3_9" name="mac3_9" maxlength="20" type="text"></p>

<p><p>
<label style="display: none;" id="id_namelabel_10">Name_10:</label> <input style="display: none;" id="id_name_10" name="name_10" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel1_10">Ip1_10:</label> <input style="display: none;" id="id_ip1_10" name="ip1_10" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel1_10">Mac1_10:</label> <input style="display: none;" id="id_mac1_10" name="mac1_10" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel2_10">Ip2_10:</label> <input style="display: none;" id="id_ip2_10" name="ip2_10" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel2_10">Mac2_10:</label> <input style="display: none;" id="id_mac2_10" name="mac2_10" maxlength="20" type="text"></p>
<label style="display: none;" id="id_iplabel3_10">Ip3_10:</label> <input style="display: none;" id="id_ip3_10" name="ip3_10" maxlength="20" type="text"></p>
<label style="display: none;" id="id_maclabel3_10">Mac3_10:</label> <input style="display: none;" id="id_mac3_10" name="mac3_10" maxlength="20" type="text"></p>
</fieldset>
{% endblock extravms %}
