{% extends "base.html" %}

{% load staticfiles %}
{% block title %}Nuages CustomForms information{% endblock %}

{% block content %}
<script src="{% static "js/customforms.js" %}"></script>

<div id="wheel"></div>
<fieldset class="module aligned">
<p class="alert alert-info" ><button type='button' class='close' data-dismiss='alert'>&times;</button>Select customforms to get details</p>
<select name="type" id="id_type">
<option value="" selected="selected">---------</option>
{% for type in types %}
<option value="{{type }}" >{{type }}</option>
{% endfor %}
</select>  <input name="voila" type="submit" class="btn btn-info"  value="Enter" onclick="customformget();"/><hr>

<p id="error"></p>
<table class="table table-condensed table-bordered alert-info" ><p id="forminfo"></p></table>
</fieldset>
{% endblock content %}               
