{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Nuages CustomForms Information{% endblock %}

{% block content %}
<script src="{% static "js/customforms.js" %}"></script>

<div id="wheel"></div>

<fieldset class="module aligned">
<p class="alert alert-info" >select customform and press enter to edit it or deletetype to remove it or press newtype to create one brand new.When you re done, press UpdateType</p>
<select name="type" id="id_type">
<option value="" selected="selected">---------</option>
{% for type in types %}
<option value="{{type }}" >{{type }}</option>
{% endfor %}
</select></p>
<input name="voila" type="submit" class="btn btn-info"  value="Enter" onclick="customformedit();"/>   <input type="submit" class="btn btn-success" value="UpdateType" onclick="customformupdate();"/>   <input type="submit" class="btn btn-danger"  value="DeleteType" onclick="customformdelete();"/><p><hr>
<input type="submit" class="btn btn-info"  value="NewType" onclick="customformcreate();"/>
<input type="submit" class="btn btn-info"  value="ImportFromCobbler" onclick="customformcobbler();"/>
<input type="submit" class="btn btn-info"  value="ImportFromForeman" onclick="customformforeman();"/><hr>
<p id="error"></p>
<table class="table table-condensed table-bordered" ><p id="forminfo"></p></table>
<p id="result"></p>
<div id="parameters" style="display: none;"></div>
</fieldset>
{% endblock content %}               
