{% extends "base.html" %}

{% block title %}Nuages CustomForms Information{% endblock %}

{% block content %}
<script src="/static/js/customforms.js"></script>

<div id="wheel2"></div>
<fieldset class="module aligned">
<select name="type" id="id_type">
<option value="" selected="selected">---------</option>
{% for type in types %}
<option value="{{type }}" >{{type }}</option>
{% endfor %}
</select></p>

<div id="voila"><input name="voila" type="submit" class="btn btn-info"  value="Enter" onclick="customformget();"/></div>
<p id="error"></p>
<table><p id="forminfo"></p></table>
</fieldset>
{% endblock content %}               
