<html>
  <head>
    <title>{% block title %}Nuages{% endblock %}</title>
      <link rel="stylesheet" type="text/css" media="all" href="/static/css/login.css" /> 
      <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link rel="stylesheet" type="text/css" media="all" href="/static/css/bootstrap.css" />
  </head>
  <body>
   <script src="/static/js/jquery.js"></script>
   <script src="/static/js/wheel.js"></script>
   <script src="/static/bootstrap/js/bootstrap.min.js"></script>

<div class="navbar"><div class="navbar-inner"/>
<ul class="nav">
<li><a href="https://github.com/karmab/nuages"><img src="/static/img/nuages.png"/></a></li>
</ul></div></div><p>
<fieldset class="module aligned">
<form method="post" action="/login/">
{% csrf_token %}
<table cellspacing="0" cellpadding="0">
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr>
    <td><label>Keyboard</label></td>
    <td><select name="keyboard"><option value="us" selected >us(Default)</option><option value="es">es</option> </select></td>
</tr>
<tr>
    <td><input type="hidden" name="next" value="{{ next }}" /></td>
    <td><input type="submit" class="btn btn-info" value="login" data-loading-text="logging..." /></td>
</tr>
{% if form.errors %}
<tr>
<td></td>
<td>
<p class='alert alert-error'>
<button type='button' class='close' data-dismiss='alert'>&times;</button>
Incorrect username or password!
</p>
</td>
</tr>

{% endif %}
</table>
</form>
</fieldset>
<a href="http://www.djangoproject.com/"><img src="/static/img/djangopowered.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>
</body></html>
