{% extends "base.html" %}

{% block title %}Nuages Profiles information{% endblock %}

{% block content %}
<script src="/static/js/profiles.js"></script>
<p class="alert alert-info" >Select profile to get its description</p>
<select name="profile" id="id_profile">
{% for profile in profiles|dictsort:"name" %}
<option value="{{profile.name }}" >{{profile.name }}</option>
{% endfor %}
</select></p>
<div id="voila2"><input name="voila2" type="submit" class="btn btn-info" value="Enter" onclick="getprofile();"/></div><p>
<fieldset class="module aligned">
<div id="profileinfo" ><p>
</fieldset>
{% endblock content %}
