{% extends "base.html" %}

{% load staticfiles %}
{% block title %}Nuages Stack creation{% endblock %}

{% block content %}
<script src="{% static "js/stacks.js" %}"></script>

<fieldset class="module aligned">
<p id="allvms" class="alert alert-info" ><button type='button' class='close' data-dismiss='alert'>&times;</button>Enter name of your stack, number of vms and then select profile for each of them. You can optionnally set a foreman hostgroup if profile is set this way and a name for the vm if the profile doesnt make one on its own. Click on parameters to add specific parameters. And finally press CreateStack...<br>
</p>
<div id="wheel"></div>
<p id="result"></p>
<div id="actionpending" class="hidden">0</div>

<input type="submit" value="CreateStack" class="btn btn-info" onclick="createstack();"/><p><p>
<p><p>
<label id="id_namelabel">Stack Name:</label> <input id="id_name" name="name" maxlength="20" type="text"></p>
<label >NumVms</label><select id="numvms">
  <option value="0" selected="selected">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select> 
<p><label style="display: none;" id="id_parameterslabel">Parameters:</label><textarea style="display: none;" id="id_parameters" rows="3" cols="9" name="parameters"></textarea></p><p>
</fieldset>
{{ credentials.info }}
</fieldset><p>
{% endblock content %}


{% block vms %}
<fieldset id="id_extravmsfieldset" class="module aligned">
<table id="id_stacklist" name="stacklist" style="display: none;"  class="table table-condensed alert-info">
<tr>
<td>#</td>
<td>Name</td>
<td>Profile</td>
<td>Hostgroup</td>
</tr>
<tr>
<td>1</td>
<td><input style="display: none;" id="id_name_1" name="name_1" maxlength="20" type="text"></p></td>
<td><select style="display: none;"  name="profile1" id="id_profile_1" onchange="changeprofile(1);">
<option value="" selected="selected"></option>
{% for profile in profiles|dictsort:"name" %}
<option value="{{profile.name }}" >{{profile.name }}</option>
{% endfor %}</select></td>
<td><select style="display: none;"  name="hostgroup1" id="id_hostgroup_1">
</select>
</td>
</tr>
<tr>
<td>2</td>
<td><input style="display: none;" id="id_name_2" name="name_2" maxlength="20" type="text"></p></td>
<td><select style="display: none;" name="profile2" id="id_profile_2" onchange="changeprofile(2);">
<option value="" selected="selected"></option>
{% for profile in profiles|dictsort:"name" %}
<option value="{{profile.name }}" >{{profile.name }}</option>
{% endfor %}</select><p></td>
<td><select style="display: none;"  name="hostgroup2" id="id_hostgroup_2">
</select>
</td>
</tr>
<tr>
<td>3</td>
<td><input style="display: none;" id="id_name_3" name="name_3" maxlength="20" type="text"></p></td>
<td><select style="display: none;" name="profile3" id="id_profile_3" onchange="changeprofile(3);">
<option value="" selected="selected"></option>
{% for profile in profiles|dictsort:"name" %}
<option value="{{profile.name }}" >{{profile.name }}</option>
{% endfor %}</select><p></td>
<td><select style="display: none;"  name="hostgroup3" id="id_hostgroup_3">
</select>
</td>
</tr>
<tr>
<td>4</td>
<td><input style="display: none;" id="id_name_4" name="name_4" maxlength="20" type="text"></p></td>
<td><select style="display: none;" name="profile4" id="id_profile_4" onchange="changeprofile(4);">
<option value="" selected="selected"></option>
{% for profile in profiles|dictsort:"name" %}
<option value="{{profile.name }}" >{{profile.name }}</option>
{% endfor %}</select><p></td>
<td><select style="display: none;"  name="hostgroup4" id="id_hostgroup_4">
</select>
</td>
</tr>
<tr>
<td>5</td>
<td><input style="display: none;" id="id_name_5" name="name_5" maxlength="20" type="text"></p></td>
<td><select style="display: none;" name="profile5" id="id_profile_5" onchange="changeprofile(5);">
<option value="" selected="selected"></option>
{% for profile in profiles|dictsort:"name" %}
<option value="{{profile.name }}" >{{profile.name }}</option>
{% endfor %}</select><p></td>
<td><select style="display: none;"  name="hostgroup5" id="id_hostgroup_5">
</select>
</td>
</tr>
<tr>
<td>6</td>
<td><input style="display: none;" id="id_name_6" name="name_6" maxlength="20" type="text"></p></td>
<td><select style="display: none;" name="profile6" id="id_profile_6" onchange="changeprofile(6);">
<option value="" selected="selected"></option>
{% for profile in profiles|dictsort:"name" %}
<option value="{{profile.name }}" >{{profile.name }}</option>
{% endfor %}</select><p></td>
<td><select style="display: none;"  name="hostgroup7" id="id_hostgroup_6">
</select>
</td>
</tr>
<tr>
<td>7</td>
<td><input style="display: none;" id="id_name_7" name="name_2" maxlength="20" type="text"></p></td>
<td><select style="display: none;" name="profile7" id="id_profile_7" onchange="changeprofile(7);">
<option value="" selected="selected"></option>
{% for profile in profiles|dictsort:"name" %}
<option value="{{profile.name }}" >{{profile.name }}</option>
{% endfor %}</select><p></td>
<td><select style="display: none;"  name="hostgroup7" id="id_hostgroup_7">
</select>
</td>
</tr>
<tr>
<td>8</td>
<td><input style="display: none;" id="id_name_8" name="name_8" maxlength="20" type="text"></p></td>
<td><select style="display: none;" name="profile8" id="id_profile_8" onchange="changeprofile(8);">
<option value="" selected="selected"></option>
{% for profile in profiles|dictsort:"name" %}
<option value="{{profile.name }}" >{{profile.name }}</option>
{% endfor %}</select><p></td>
<td><select style="display: none;"  name="hostgroup8" id="id_hostgroup_8">
</select>
</td>
</tr>
<tr>
<td>9</td>
<td><input style="display: none;" id="id_name_9" name="name_9" maxlength="20" type="text"></p></td>
<td><select style="display: none;" name="profile9" id="id_profile_9" onchange="changeprofile(9);">
<option value="" selected="selected"></option>
{% for profile in profiles|dictsort:"name" %}
<option value="{{profile.name }}" >{{profile.name }}</option>
{% endfor %}</select><p></td>
<td><select style="display: none;"  name="hostgroup9" id="id_hostgroup_9">
</tr>
<tr>
<td>10</td>
<td><input style="display: none;" id="id_name_10" name="name_10" maxlength="20" type="text"></p></td>
<td><select style="display: none;" name="profile10" id="id_profile_10" onchange="changeprofile(10);">
<option value="" selected="selected"></option>
{% for profile in profiles|dictsort:"name" %}
<option value="{{profile.name }}" >{{profile.name }}</option>
{% endfor %}</select><p></td>
<td><select style="display: none;"  name="hostgroup10" id="id_hostgroup_10">
</td>
</tr>
</table>

</fieldset>
{% endblock vms %}
