{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Nuages Profile from template{% endblock %}

{% block content %}
<script src="{% static "js/templates.js" %}"></script>

<p class="alert alert-info" >Select virtual provider to get available templates and enter a name to deploy profile from it</p>
<div id="wheel"></div>
<fieldset class="module aligned">
<div><input type="text" id="name"/><p></div>
<select name="virtualprovider" id="id_virtualprovider">
{% for vprovider in vproviders %}
<option value="{{vprovider.name }}" >{{vprovider.name }}</option>
{% endfor %}
</select></p>
<div><input type="submit" class="btn btn-info" value="ListTemplates" onclick="templateslist();"/>  <input type="submit" class="btn btn-success" value="CreateProfile" onclick="createtemplateprofile();"/></div><p>
</fieldset>

<div id="id_template"></div>
<div id="results"></div>
{% endblock content %}               
