<!DOCTYPE html>
<html>
<head>

    <title>Nuages Console</title>
        <link rel="stylesheet" type="text/css" media="all" href="/static/css/design.css" />
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="all" href="/static/css/bootstrap.css" />
	<script src="/static/novnc/util.js"></script>
</head>
<body>
<!--script src="/static/novnc/util.js"></script-->

<div class="navbar"><div class="navbar-inner">
<ul class="nav">
      <a class="brand"><img src="/static/img/nuages.png"></a>
      <li class="divider-vertical"></li>
     <li><a href="/nuages/vms/"><i class="icon-white icon-shopping-cart"></i>Create</a></li>
     <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-white icon-info-sign"></i>Information<b class="caret"></b></a>
      <ul class="dropdown-menu">
     <li><a href="/nuages/storage/" ><i class="icon-white icon-hdd"></i>Storage</a></li>
     <li><a href="/nuages/profiles/"><i class="icon-white icon-tasks"></i>Profiles</a></li>
     <li><a href="/nuages/customforms"><i class="icon-white icon-thumbs-up"></i>CustomForms</a></li>
     </ul></li>
     <li><a href="/nuages/yourvms/"><i class="icon-white icon-list"></i>Your VMS</a></li>
     {% if username.is_staff  %}
     <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-white icon-cog"></i>Admin<b class="caret"></b></a>
      <ul class="dropdown-menu">
       <li><a href="/nuages/allvms/"><i class="icon-white icon-globe"></i>All VMS</a></li>
       <li><a href="/nuages/customformedit"><i class="icon-white icon-leaf"></i>CustomForm Edit</a></li>
       <li><a href="/nuages/profilecopy"><i class="icon-white icon-tag"></i>Profile Copy</a></li>
       <li><a href="/admin"><i class="icon-white icon-wrench"></i>Configuration</a></li>
     </ul></li>
     {% endif %}
     <li><a href="/logout/"><i class="icon-white icon-user"></i>Logout {{ username.username  }}</a></li>
</ul>
</div></div>



<!--table align="left" border="1" class="table table-bordered" class='alert alert-info'-->
<table align="left" border="1" class='alert alert-info'>
<tr>
<td>Vm Name</td>
<td>Provider</td>
<td>Action</td>
</tr>
<tr>
<td>{{ vm.name}}</td>
<td>{{vm.virtualprovider }}</td>
<td>
<img src="/static/img/start.png" onclick="start('{{vm.name}}','{{vm.virtualprovider}}');"/>
<img src="/static/img/down.png" onclick="stop('{{vm.name}}','{{vm.virtualprovider}}');"/>
<img src="/static/img/reboot.png" onclick="sendCtrlAltDel();"/>
</td>
</tr>
</table>
</div>

<div id="noVNC_screen">
            <div id="noVNC_status_bar" class="noVNC_status_bar" style="margin-top: 0px;">
                <table border=0 width="100%"><tr>
                    <td><div id="noVNC_status">Loading</div></td>
                    <td width="1%"><div id="noVNC_buttons">
                        <input type=button value="Send CtrlAltDel"
                            id="sendCtrlAltDelButton">
                            </div></td>
                </tr></table>
            </div>
            <canvas id="noVNC_canvas" width="640px" height="20px">
                Canvas not supported.
            </canvas>
        </div>

        <script>
        /*jslint white: false */
        /*global window, $, Util, RFB, */
        "use strict";

        // Load supporting scripts
        Util.load_scripts(["webutil.js", "base64.js", "websock.js", "des.js",
                           "input.js", "display.js", "jsunzip.js", "rfb.js"]);

        var rfb;

        function passwordRequired(rfb) {
            var msg;
            msg = '<form onsubmit="return setPassword();"';
            msg += '  style="margin-bottom: 0px">';
            msg += 'Password Required: ';
            msg += '<input type=password size=10 id="password_input" class="noVNC_status">';
            msg += '<\/form>';
            $D('noVNC_status_bar').setAttribute("class", "noVNC_status_warn");
            $D('noVNC_status').innerHTML = msg;
        }
        function setPassword() {
            rfb.sendPassword($D('password_input').value);
            return false;
        }
        function sendCtrlAltDel() {
            rfb.sendCtrlAltDel();
            return false;
        }
        function updateState(rfb, state, oldstate, msg) {
            var s, sb, cad, level;
            s = $D('noVNC_status');
            sb = $D('noVNC_status_bar');
            cad = $D('sendCtrlAltDelButton');
            switch (state) {
                case 'failed':       level = "error";  break;
                case 'fatal':        level = "error";  break;
                case 'normal':       level = "normal"; break;
                case 'disconnected': level = "normal"; break;
                case 'loaded':       level = "normal"; break;
                default:             level = "warn";   break;
            }

            if (state === "normal") { cad.disabled = false; }
            else                    { cad.disabled = true; }

            if (typeof(msg) !== 'undefined') {
                sb.setAttribute("class", "noVNC_status_" + level);
                s.innerHTML = msg;
            }
        }

        window.onscriptsload = function () {
            var host, port, password, path, token;

            $D('sendCtrlAltDelButton').style.display = "inline";
            $D('sendCtrlAltDelButton').onclick = sendCtrlAltDel;

            WebUtil.init_logging(WebUtil.getQueryVar('logging', 'warn'));
            document.title = unescape(WebUtil.getQueryVar('title', 'noVNC'));
            // By default, use the host and port of server that served this file
            host = '{{ information.host }}';
            port = {{ information.port}};

            // if port == 80 (or 443) then it won't be present and should be
            // set manually
            if (!port) {
                if (window.location.protocol.substring(0,4) == 'http') {            
                    port = 80;
                }
                else if (window.location.protocol.substring(0,5) == 'https') {            
                    port = 443;
                }
            }

            // If a token variable is passed in, set the parameter in a cookie.
            // This is used by nova-novncproxy.
            token = WebUtil.getQueryVar('token', null);
            if (token) {
                WebUtil.createCookie('token', token, 1)
            }

            password = '{{ information.ticket }}' ;
            path = WebUtil.getQueryVar('path', 'websockify');

            if ((!host) || (!port)) {
                updateState('failed',
                    "Must specify host and port in URL");
                return;
            }

            rfb = new RFB({'target':       $D('noVNC_canvas'),
                           'encrypt':      WebUtil.getQueryVar('encrypt',
                                    (window.location.protocol === "https:")),
                           'repeaterID':   WebUtil.getQueryVar('repeaterID', ''),
                           'true_color':   WebUtil.getQueryVar('true_color', true),
                           'local_cursor': WebUtil.getQueryVar('cursor', true),
                           'shared':       WebUtil.getQueryVar('shared', true),
                           'view_only':    WebUtil.getQueryVar('view_only', false),
                           'updateState':  updateState,
                           'onPasswordRequired':  passwordRequired});
            rfb.connect(host, port, password, path);
        };
        </script>

</body>
</html>
