{% extends "base.html" %}

{% block title %}Nuages VMS Information{% endblock %}

{% block content %}
<script src="/static/js/refresh.js"></script>
<script src="/static/js/actions.js"></script>

<div id="wheel2"></div>
<fieldset class="module aligned">
<p class="alert alert-info" >Here s a list of all vms created by you or your groups peers</p>
<div id="results"></div>
<table border="1" class='alert alert-info'>
<tr>
<td>Vm Name</td>
<td>Created by</td>
<td>Created when</td>
<td>Provider</td>
<td>Profile</td>
<td>Status</td>
<td>Actions</td>
<td>Billing</td>
</tr>
{% for vm in vms|dictsort:"name" %}
<tr>
<td>{{ vm.name}}</td>
<td>{{ vm.createdby }}</td>
<td>{{ vm.createdwhen|date:'Y-m-d H:i' }}</td>
{% if vm.physical %}
<td>Physical</td>
{% else  %}
<td>{{vm.virtualprovider }}</td>
{% endif %}
<td>{{vm.profile}}</td>
<td><img src="/static/img/{{vm.status}}.png">{{vm.status}}</td>
<td>
<img src="/static/img/start.png" onclick="start('{{vm.name}}','{{vm.virtualprovider}}');" />
<img src="/static/img/down.png"  onclick="stop('{{vm.name}}','{{vm.virtualprovider}}');" />
{% if vm.status != 'down' and not vm.physical %}
<a href="/nuages/vms/console/?id={{ vm.id }}"><img src="/static/img/console.png"></a>
{% elif vm.ipilo  %}
<a href="https://{{ default.consoleip }}/?ssh=ssh://root@{{ vm.ipilo }}:22/"><img src="/static/img/ssh.png"></a>
{% else  %}
<img src="/static/img/blank.png"/>
{% endif %}
{% if vm.profile.deletable  %}
<img src="/static/img/kill.png" onclick="kill('{{vm.name}}','{{vm.virtualprovider}}');" />
{% endif %}
</td>
<td><a href="/nuages/invoice/?id={{ vm.id }}">{{vm.price}}{{default.currency}}/day</a></td>
</tr>
{% endfor %}
</table>
</fieldset>

{% if removed %}
Additional information:
{% for vm in removed %}

<p>{{vm.name}} was removed from DB<p>
{% endfor %}
{% endif %}

{% endblock content %}               
