{% extends "base.html" %}

{% block title %}Nuages VMS Information{% endblock %}

{% block content %}
<script src="/static/js/refresh.js"></script>
<script src="/static/js/actions.js"></script>

<div id="wheel2"></div>
<fieldset class="module aligned">
<table border="1" >
<tr>
<td>Vm Name</td>
<td>Created by</td>
<td>Provider</td>
<td>Status</td>
<td>Action</td>
</tr>
{% for vm in vms|dictsort:"name" %}
<tr>
<td>{{ vm.name}}</td>
<td>{{ username }}</td>
{% if vm.physical %}
<td>Physical</td>
{% else  %}
<td>{{vm.virtualprovider }}</td>
{% endif %}
<td><img src="/static/img/{{vm.status}}.png">{{vm.status}}</td>
<td>
<img src="/static/img/start.png" onclick="start('{{vm.name}}','{{vm.virtualprovider}}');" />
<img src="/static/img/down.png"  onclick="stop('{{vm.name}}','{{vm.virtualprovider}}');" />
{% if vm.status != 'down' and not vm.physical %}
<a href="/nuages/vms/console/?vm={{ vm.name }}"><img src="/static/img/console.png"></a>
{% elif vm.ipilo  %}
<a href="https://{{ default.consoleip }}/?ssh=ssh://root@{{ vm.ipilo }}:22/"><img src="/static/img/ssh.png"></a>
{% else  %}
<img src="/static/img/blank.png"/>
{% endif %}
<img src="/static/img/kill.png" onclick="kill('{{vm.name}}');" />
</td>
</tr>
{% endfor %}
</table>
</fieldset>

<div id="results"></div>
{% if removed %}
Additional information:
{% for vm in removed %}

<p>{{vm.name}} was removed from DB<p>
{% endfor %}
{% endif %}

{% endblock content %}               
