<table border="1" class='alert alert-info'>
{% load staticfiles %}{% load url from future %}
<tr>
<td>Vm Name</td>
<td>Created by</td>
<td>Created when</td>
<td>Provider</td>
<td>Profile</td>
<td>Status</td>
<td>Actions</td>
<td>Billing</td>
</tr>
{% for vm in vms|dictsort:"name" %}
<tr>
<td>
{% if not vm.physical %}
<a href="{% url 'console' %}?id={{ vm.id }}"><img src="{% static "img/console.png" %}">
{% elif vm.ipilo %}
<a href="https://{{ default.consoleip }}:{{default.consoleport }}/?ssh=ssh://root@{{ vm.ipilo }}:22/"><img src="{% static "img/ssh.png" %}">
{% endif %}
{{ vm.name}}</a></td>
<td>{{ vm.createdby }}</td>
<td>{{ vm.createdwhen|date:'Y-m-d H:i' }}</td>
{% if vm.physical %}
<td>Physical</td>
{% else  %}
<td>{{vm.virtualprovider }}</td>
{% endif %}
<td>{{vm.profile}}</td>
<td>
{% if ajax %}
<img src="{% static 'img/'|add:vm.status|add:'.png' %}">{{vm.status}}
{% else %}
wait...
{% endif %}
</td>

<td>
{% if ajax %}

{% if vm.status != 'N/A' and vm.status != 'NotFound' and not vm.physical %}
<img src="{% static "img/start.png" %}" onclick="start('{{vm.name}}','{{vm.virtualprovider}}');" />
<img src="{% static "img/down.png" %}" onclick="stop('{{vm.name}}','{{vm.virtualprovider}}');" />
{% endif %}

{% if vm.profile.deletable  %}

{% if vm.physical %}
<img src="{% static "img/kill.png" %}" onclick="kill('{{vm.name}}','');" />
{% else  %}
<img src="{% static "img/kill.png" %}" onclick="kill('{{vm.name}}','{{vm.virtualprovider}}');" />
{% endif %}

{% if vm.unmanaged %}
<img src="{% static "img/unmanaged.png"  %}" onclick="dbremove('{{vm.id}}','{{vm.name}}');" />
{% endif %}

{% endif %}

{% else  %}
wait...
{% endif %}
</td>


{% if vm.price %}
<td><a href="{% url 'invoice' %}?id={{ vm.id }}">{{vm.price}}{{default.currency}}/day</a></td>
{% else  %}
<td>N/A</td>
{% endif %}
</tr>
{% endfor %}
</table>
</fieldset>
